[user]
	email = joel.dunham@emc.com
    name = Joel Dunham

[alias]
    st = status -sb
    l = log --oneline --decorate --pretty=format:'%C(yellow)%h %Cgreen%ad %Cblue%an%Cgreen%d %x09%Creset%s' --date=short
    ul = !git l origin/master..master
    p = pull --rebase
    pp = !git pull --rebase && git push
    deltag = !sh -c 'git tag -d $1 && git push origin :refs/tags/$1' -
    ignore = !git update-index --assume-unchanged $1

[http]
	sslVerify = false

[diff]
	renamelimit = 20000
	tool = diffmerge

[color]
    ui = auto
	diff = auto
	status = auto
	branch = auto

[push]
	default = current

[url "https://"]
	insteadOf = git://

[credential]
	helper = osxkeychain
[difftool "diffmerge"]
	cmd = /usr/local/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = /usr/local/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[core]
	excludesfile = /Users/dunhaj1/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
